name: Keep Render Backend Awake

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping backend
        run: curl https://fynd-task-ai-feedback-system-backend.onrender.com/health # no need to write -X GET as GET is default method for curl
